<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css' />

        <script>
            $(document).bind("mobileinit", function() {
                // As of Beta 2, jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
                // when navigating from a mobile to a non-mobile page, or when clicking "back"
                // after a form post), hence disabling it.
                $.mobile.ajaxEnabled = false;
            });
        </script>
        
<script type="text/javascript">

    $(document).ready(function () {

        var shoppingListViewModel = new ShoppingListViewModel();

        function ItemViewModel(name) {
            var self = this;
            self.name = ko.observable(name);
            self.id = ko.observable("");
            self.inShoppingCart = ko.observable("");
            self.createdWhen = ko.observable("");

            self.moveToShoppingCart = function () {
                self.inShoppingCart(true);
                shoppingListViewModel.items.remove(self);
                shoppingListViewModel.itemsInShoppingCart.unshift(self);
                $.ajax("/api/" + self.id(), {
                    data: ko.toJSON(self),
                    type: "put",
                    contentType: "application/json",
                    error: function (message) { alert(message); }
                });
            };
        };

        function ShoppingListViewModel() {
            var self = this;
            self.items = ko.observableArray([]);
            self.itemsInShoppingCart = ko.observableArray([]);
            self.newItemText = ko.observable();

            // Operations
            self.addNewItem = function () {
                if (!this.newItemText()) return;

                var newItem = new ItemViewModel(this.newItemText());
                newItem.createdWhen = "nå";
                self.items.unshift(newItem);

                $.ajax("/api/items", {
                    data: ko.toJSON(newItem),
                    type: "post",
                    contentType: "application/json",
                    error: function (message) { alert(message); },
                    success: function (data) {
                        newItem.id(data.Id);
                    }
                });

                self.newItemText("");
            };

            // Load initial state from server, convert it to ItemViewModel instances, then populate self.items
            $.getJSON("/api/items", function (data) {

                $.map(data, function (item) {
                    var mappedItem = new ItemViewModel(item.Name);
                    mappedItem.id(item.Id);
                    mappedItem.inShoppingCart(item.InShoppingCart);
                    mappedItem.createdWhen(item.CreatedWhen);

                    if (mappedItem.inShoppingCart() == true)
                        self.itemsInShoppingCart.push(mappedItem);
                    else
                        self.items.push(mappedItem);
                    return mappedItem;
                });

                $("#loader").css("display", "none");
                $("#emptyListMessage").css("display", "inline");
            });
        };

        ko.applyBindings(shoppingListViewModel);
    });
    
    </script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>